/* SCSS HEX */
$davys-gray: #50514fff;
$bittersweet: #f25f5cff;
$naples-yellow: #ffe066ff;
$cerulean: #247ba0ff;
$verdigris: #70c1b3ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: url("/dist/bg.jpg") no-repeat center center/cover;
    color: #fff;

}

.flex-container {
    background-color: $cerulean;
    padding: 30px 20px 120px;
    border-radius: 5px;

    h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    button, input {
        font-family: inherit;
        padding: 10px 30px;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
    }

    button {
        color: #ffffff;
        background-color: $bittersweet;
        cursor: pointer;
    }
}

.list {
    list-style: none;
    font-size: 15px;
}